<form class="entry-form login" action="/sessions" method="post">
  <h3>Login</h3>
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="sumbit" name="" value="Login">
</form>
