<form id="login-form" class="entry-form login" action="/sessions" method="post">
  <h3>Login</h3>
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button">Login</button>
</form>
