<form class="entry-form registration" action="/users" method="post">
  <h3>Register</h3>
  <input type="text" name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit" name="button">Register</button>
</form>
