<form id="registration-form" class="entry-form registration" action="/users" method="post">
  <h3>Register</h3>
  <input type="text" name="user[email]" placeholder="email">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <button type="submit" name="button">Register</button>
</form>
