<form class="entry-form registration" action="/users/new" method="post">
  <h3>Register</h3>
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="sumbit" name="" value="Register">
</form>
