<div class="main-wrap">
    <div class="sidebar">
      <div class="user-options-container">
        <input id="load-markers" type="submit" name="load" value="Load Markers">
      </div>
      <div class="search-input">
        <h2>1</h2>
        <p>Search for a location</p>
        <input id="pac-input" class="controls" type="text" placeholder="Search">
        <input type="submit" id="clear-search" name="clear" value="clear">
        <p>OR</p>
        <p>Select a Location on the map</p>
        <input type="submit" id="select" name="select" value="Select on Map">
        <p>Click on map to set a marker, then Drag to correct location</p>
      </div>
      <div id="search-output" class="search-output">

      </div>
    </div>
    <div class="content-wrap">
      <div class="map" id="map"></div>
    </div>
</div>
