<div class="main-wrap">
    <div class="sidebar">
      <div class="user-options-container">
        <input id="load-markers" type="submit" name="load" value="Load my saved markers">
      </div>
      <div class="search-input">
        <h2>1. Select Location</h2>
        <p>Search for a location</p>
        <input id="pac-input" class="controls" type="text" placeholder="Search">
        <input type="submit" id="clear-search" name="clear" value="clear">
        <p>OR</p>
        <p>Select a Location on the map</p>
        <input type="submit" id="select" name="select" value="Select on Map">
        <p>Click on map to set a marker, then Drag to correct location</p>
      </div>
      <div id="search-output" class="search-output">
        <form class="save-form" id='save-form' action="/markers" method="post" style="display: none;">
          <label for="name">Name</label>
          <input id="name-input" type="text" name="marker[name]" value="">
          <select id="entry-input" name="marker[name]" >
            <option value="completed-hike">Completed Hike</option>
            <option value="to-do-hike">Hike To Do</option>
          </select>
          <label for="details">Description</label>
          <input type="text" name="details" value="">
          <input type="submit" name="" value="Save">
        </form>
      </div>
    </div>
    <div class="content-wrap">
      <div class="map" id="map"></div>
    </div>
</div>
