<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->

    <link rel="stylesheet" type="text/css" href="/css/application2.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="landing">

    </div>
  </body>
</html>
