<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->

    <link rel="stylesheet" type="text/css" href="/css/application2.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="landing">
        <div class="landingnav">
          <h1 class="center-text">Hiking Maps</h3>
          <h2 class="center-text">Welcome!</h4>
          <a href="/sessions/new">Login</a>
          <a href="/users/new">Register</a>
        </div>
    </div>
  </body>
</html>
